<div class="card-container">
  <div>
    <div class="pokemon-types">
      <h2><a [routerLink]="['/pokemon', pokemon.id]">{{ pokemon.name }}</a></h2>
      @for (type of pokemon.apiTypes; track type.name) {
        <img
          class="pokemon-type"
          ngSrc="{{type.image}}"
          width="50"
          height="50"
          alt="{{type.name}}"
        />
      }
    </div>
    <img [ngSrc]="pokemon.image"
         width="200"
         height="200"
         [alt]="pokemon.name"/>
  </div>
  <div class="pokemon-stats">
    <p>PV : {{ pokemon.stats.HP }}</p>
    <p>Attaque : {{ pokemon.stats.attack }}</p>
    <p>Défense : {{ pokemon.stats.defense }}</p>
    <p>Attaque spéciale : {{ pokemon.stats.special_attack }}</p>
    <p>Défense spéciale : {{ pokemon.stats.special_defense }}</p>
    <p>Vitesse : {{ pokemon.stats.speed }}</p>
  </div>
</div>
