<div class="card-container">
  <div>
    <div class="pokemon-types">
      <h2><a [routerLink]="['/pokemon', pokemon.id]">{{ pokemon.name }}</a></h2>
      <img
        class="pokemon-type"
        *ngFor="let type of pokemon.apiTypes"
        [src]="type.image"
        alt="pokemon-img"/>
    </div>
    <img [src]="pokemon.image" [alt]="pokemon.name" />
  </div>
  <div class="pokemon-stats">
    <p>PV : {{ pokemon.stats.HP }}</p>
    <p>Attaque : {{ pokemon.stats.attack }}</p>
    <p>Défense : {{ pokemon.stats.defense }}</p>
    <p>Attaque spéciale : {{ pokemon.stats.special_attack }}</p>
    <p>Défense spéciale : {{ pokemon.stats.special_defense }}</p>
    <p>Vitesse : {{ pokemon.stats.speed }}</p>
  </div>
</div>
